*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration:none;
}

body{
    background-color: wheat;
    padding: 0px 45px;
}

.header__logo{
    position: absolute;
    z-index: 1;
    top:0;
    left: 47%;

}

.navigation-menu{
    background-color: #fff;
}

.navigation__list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px 0px;
}


.navigation__link{
    color: black;
    text-transform: uppercase;
    font-size: 18px;
 }


 /* 1st block */
 .about-sedona{
     background-image: url(../img/background-photo-sedona.jpg);
     background-size: cover;
     padding-top: 70px;
     height: 100vh;
     text-align: center;
 }

 .about-sedona__welcome{
     font-size: 125px;
     text-transform:uppercase;
     color:grey;
 }

.about-sedona_title{
    font-size: 150px;
    text-transform: uppercase;
    color: #fff;
    padding: 60px 0px;
}

.about-sedona__text, {
    font-size: 33px;
    color: brown;
}

.about-sedona__grand{
    font-size: 35px;
    color: #fff;
}




/* 2nd block + list item */


.block-reason{
    text-align: center;

}







/* footer block*/

footer{
    text-align: center;
}


.footermap{
    background: url(../img/map.jpg) no-repeat center/cover;
    height: 475px;
}

.footer__contact{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 30px 0px;
    
}

.contact__list{
    display: flex;
    flex-flow: row nowrap;
}

.contact__item{
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: #81b3d2;
    vertical-align: middle;
    margin-right: 30px;
    position: relative;
}

.footer__call-to-a{
    background-color: #fff;
    padding: 60px 0px 160px;
}

.social__btn{
    position: absolute;
    top :30%;
    left :25%;
}


.footer-subtitle{
    font-size: 35px;
    text-transform: uppercase;
    color:grey;
    margin-bottom: 30px;
}

.footer__text{
    font-size: 22px;
    text-transform: uppercase;
}

.contact__tag{
    font-size: 44px;
}